<h1>Listing userhs</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Fname</th>
      <th>Lname</th>
      <th>Url1</th>
      <th>Qrhash</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @userhs.each do |userh| %>
      <tr>
        <td><%= userh.email %></td>
        <td><%= userh.fname %></td>
        <td><%= userh.lname %></td>
        <td><%= userh.url1 %></td>
        <td><%= userh.qrhash %></td>
        <td><%= link_to 'Show', userh %></td>
        <td><%= link_to 'Edit', edit_userh_path(userh) %></td>
        <td><%= link_to 'Destroy', userh, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Userh', new_userh_path %>
